.green{
	background-color: green;
	color: #333333;
}

.red{
	background-color: red;
	color: #222222;
}

input{
	margin: 0 auto;
}

#msg{
	text-align: center;
}

#inputs{
	text-align: center;
}

#inputs > * {
	display: inline-block;
	vertical-align: middle;
}

#inputs::after{
	content: "";
	width: 100%;
	display: inline-block;
}

#stats{
	overflow-x: auto;
}

table{
	margin: auto;
	border: 1px solid grey;
}

th, td{
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid grey;
}

tr:hover{
	background-color: #ddd7c4;
}

tr:hover td.green {
	background-color: DarkGreen;
}

tr:hover td.red {
	background-color: DarkRed;
}

html{
	background-color: #fdf6e3;
}
